.body{
    background-color: black
}
.user{
    text-align:left;
    margin-top:12px;
    font-family: 'Inconsolata';
    color:white;
}
.us3r{
    text-align:left;
    margin-top:12px;
    font-family: 'Inconsolata';
    color:white;
}
.user1{
    text-align:left;
    margin-top:12px;
    font-family: 'Inconsolata';
    color:white;
}